.formcomponent{
    margin-top: -10vh;
    
    display: grid;
    justify-content: center;
    align-items: center;
    
   
}
.logo{
    margin-top: 10vh;
    width: 30vh;
    height: 20vh;
    background-color: red;
    margin-left: 5vh;
}
.formcard{
    display: grid;
    justify-content: center;
    margin: 5vh;
    
  }

  .placeholder{
    text-align: left;
    margin-left: 2vh;
    font-size: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .input{
    border: 2vh transparent solid;
    border-radius: 5vh;
    font-size: 3vh;
    background-color: rgb(17, 140, 240);
    width: 30vh;
    
  }

  .submitbutton{
    border: 2vh transparent solid;
    border-radius: 5vh;
    font-size: 3vh;
    background-color: rgb(7, 61, 105);
    width: 30vh;
    color: white;
  }