.formcomponent{
    
    
    display: grid;
    justify-content: center;
    align-items: center;
    
   
}
.logo{
  margin-top: 5vh;
  width: 30vh;
  height: 10vh;
  background-color: red;
  margin-left: 5vh;
}
.formcard{
  display: grid;
  justify-content: center;
  margin: 5vh;
  
}

.placeholder{
  text-align: left;
  margin-left: 2vh;
  font-size: 4vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input{
  border: 2vh transparent solid;
  border-radius: 5vh;
  font-size: 3vh;
  background-color: rgb(17, 140, 240);
  width: 30vh;
  color: white;
  
}
.input:hover{
  border: 10px white solid;
  height: 7vh;
  transition: 0.6s
}

.submitbutton{
  border: 2vh transparent solid;
  border-radius: 5vh;
  font-size: 3vh;
  background-color: #31369baa;
  width: 30vh;
  color: white;
}
.submitbutton:hover{
  
  border: 10px white solid;
  height: 10vh;
  transition: 1s;
  background-color: #7bee7b;
}

.btn_redirect{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.btn_redirect button{
  margin-top: 5vh;
  width: 30vh;
  color: rgb(235, 235, 235);
  font-weight: bolder;
  height: 10vh;
  font-size: 2vh;
  background: linear-gradient(to right, #1e2266aa, #33a533);
  border-radius: 10vh;
}
