.title{
font-size: 5vh;
text-align: center;
width: 40vh;
background-color: rgb(23, 234, 90);
color: white;
padding: 2vh;
border-radius: 10vh;
}


.input{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
      padding: 3vh;
}
.input input{
   

        border: 2vh transparent solid;
        border-radius: 5vh;
        font-size: 3vh;
        background-color: rgb(17, 140, 240);
        width: 30vh;
        color: white;
}

.input input:hover{
    border: 10px white solid;
    height: 7vh;
    transition: 0.6s
  }
  .input input::placeholder{
    color: white;
  }