.body{
    background: linear-gradient(to right, #31369baa, #7bee7b);
    height: 95vh;
    
    
    
}

.googlebtn_card{
    display: flex;
    justify-content: center;
   
}

.googlebtn{
    width: 30vh;
   
    
}
